/* header */
.header {
	background-color:#F0EEFA; padding: 30px; text-align: center;width: 100%; }
  .header .util {position: absolute; top: 10px;right: 30px;margin: auto;}
  .header .util li {float: left;text-align: center; list-style: none;}
  .header .util li a {text-align: center;font: 12px/1 "arial";color: #999;padding: 0px 10px; text-decoration: none;}
  .header h1{text-align: center; font-size: 6.5vw; padding: 15px 0; }
  #navbar { width: 100%; overflow: hidden; border-bottom: 1px solid #eee; border-top: 1px solid #eee; background-color:#a3aeb8; align-items: center; }
  #navbar a {float: left;  display: block; color: #f2f2f2; text-align: center;padding: 14px 16px; text-decoration: none; font-size: 17px; width: 15%; margin-left: 65px; }
  #navbar a:hover { background-color: #ddd; color: black;}
  .sticky {position: fixed; top: 0; width: 100%;}
  .sticky + .content { padding-top: 60px;}
  
  
 


  
table {
	border-collapse: collapse;
	border-spacing: 0;
  }
  section.notice {
	padding: 80px 0;
  }
  
  .page-title {
	margin-bottom: 60px;
  }
  .page-title h3 {
	font-size: 28px;
	color: #333333;
	font-weight: 400;
	text-align: center;
  }
  .button12{float: right; margin-right: 15%; margin-bottom: 20px;}

  .board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  }
  
  .board-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
  }
  .board-table a:hover {
	text-decoration: underline;
  }
  .board-table th {
	text-align: center;
  }
  
  .board-table .th-num {
	width: 100px;
	text-align: center;
  }
  
  .board-table .th-date {
	width: 200px;
  }
  
  .board-table th, .board-table td {
	padding: 14px 0;
  }
  
  .board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
  }
  
  .board-table tbody th {
	padding-left: 15px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
  }
  
  .board-table tbody th p{
	display: none;
  }
  
  .btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  .btn-dark {
	background: #555;
	color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
  }
  
  .btn-dark {
	background: #555;
	color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
  }
  
  /* reset */
  
  * {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  .clearfix:after {
	content: '';
	display: block;
	clear: both;
  }
  .container {
	width: 1100px;
	margin: 0 auto;
  }
  .blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	width: 1px;
	height: 1px;
  }

  /* footer */
 footer {width: 100%;background: #333;padding: 100px 0px;border-top: 1px solid #888;}
 footer .inner {width: 1180px;margin: 0px auto;}
 footer .inner .upper {width: 100%;border-bottom: 1px solid #777;padding-bottom: 20px;}
 footer .inner .upper::after {content: "";display: block;clear: both;
 }
 footer .inner .upper h1 {float: left;font: bold 24px/1 "arial";color: #666;
 }
 footer .inner .upper ul {float: right;
 }
 footer .inner .upper ul li {float: left;margin-left: 20px;
 }
 footer .inner .upper ul li a {font: bold 14px/1 "arial";color: #666;
 }
 footer .inner .lower {width: 100%;padding-top: 20px;
 }
 footer .inner .lower address {width: 100%;font: 12px/1.3 "arial";color: #777;margin-bottom: 20px;
 }
 footer .inner .lower p {width: 100%;font: 12px/1 "arial";color: #777;
 }